<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SignUp</title>
    </head>
    <body>
        <h1>SignUp</h1>
        <form action="/user" method="POST">
            <label>
                <p>Full Name</p>
                <input type="text" required name="name"/>
            </label>
            <label>
                <p>Email</p>
                <input type="text" required name="email"/>
            </label>
            <label>
                <p>Password</p>
                <input type="text" required name="password"/>
            </label>

            <button type="submit">Signup</button>
        </form>
    </body>
</html>
